				<%= form_for @customer do |f| %>
							<label>名前</label>
								<div>
											<%= f.text_field :name %>
									</div>
											<label>写真</label>
									<div>
												<%= f.attachment_field :profile_image %>
						</div>

							<label>Introduction</label>
									<div>
											<%= f.text_area :introduction %>
									</div>
									<%= f.submit "Update User", class:"btn btn-lg btn-block btn-base-1 mt-20" %>
				<% end %>
