
<h1>口コミ投稿</h1>

<%= form_for(@city_introduction) do |f| %>

<p>タイトル</p>
<%= f.text_field :title %>

<p>本文</p>
<%= f.text_area :body %>

<h4>画像</h4>
<%= f.attachment_field :image %>

<%= f.submit '投稿する' %>

<% end %>