    <h1>コメント一覧</h1>
          <div>
              <div class="jscroll">
                  <% @posts.each do |post| %>
                      <table>
                            <tr>
                                  <td><%= attachment_image_tag post, :image, :fill, 200, 100, format: 'jpg' %></td>
                                  <br>
                                    <td><span><%= post.town_name %></span></td>
                                    <td><span><%= post.comment %></td>

                                    <td><%= post.customer.name %></td>
                                    <td><%= link_to "編集する", edit_post_path(post.id) %></td>
                                    <td><%= link_to "削除する", post_path(post.id), method: :delete, "data-confirm" => "本当に削除しますか？"  %></td>
                                   </tr>
                            </table>
                        <% end %>
                    </div>
                    <div>
                    <% if customer_signed_in? %>
                        <% @posts.each do |post| %>
                                    <table>
                                          <tr>
                                              <td><%= post.customer.image %></td>
                                                  <br>
                                                  <td><span><%= post.customer.name %></span></td>
                                                        <td><%= "       #{post.customer.explanation}" %></td>
                                                        <td><% if current_customer.following?(post.customer) %></td>
                                                            <td><%= link_to 'フォロー外す', unfollow_path(post.customer.id), method: :POST %></td>
                                                        <% else %>
                                                           <td><%= link_to 'フォローする', follow_path(post.customer.id), method: :POST %></td>
                                                        <% end %>

                                                         <td> <% if post.favorited_by?(current_customer) %></td>
                                                       <li>
                                                        <td><%= link_to  post_favorites_path(post), method: :delete do %></td>
                                                        <td><i class="fa fa-heart" aria-hidden="true" style="color: red;"></i><td>
                                                        <td><%= post.customer.favorites.count %> いいね</td>
                                                        <% end %>
                                                    </li>
                                                    <% else %>
                                                    <li>
                                                        <td><%= link_to post_favorites_path(post), method: :post do %></td>
                                                        <td><i class="fa fa-heart-o" aria-hidden="true"></i></td>
                                                        <td><%= post.favorites.count %> いいね</td>
                                                          <% end %>
                                                      </li>
                                                      <% end %>
                                                <% end %>
                                         <% end %>
                          <%= paginate @posts %>
                      </div>