<h1>コメント一覧</h1>

<% @posts.each do |post| %>
<table>
  <tr>

    <td><%= attachment_image_tag post, :image, :fill, 200, 100, format: 'jpeg' %></td>

    <td><span><%= post.town_name %></span></td>

    <td><span><%= post.comment %></td>

    <td><%= post.customer.name %></td>
  </tr>
</table>
<% end %>
<%= paginate @posts %>



