    <h1>コメント一覧</h1>
          <div>
              <div class="jscroll">
                  <% @posts.each do |post| %>
                      <table>
                            <tr>
                                  <td><%= attachment_image_tag post, :image, :fill, 200, 100, format: 'jpg' %></td>
                                    <td><span><%= post.town_name %></span></td>
                                    <td><span><%= post.comment %></td>
                                    <td><%= post.customer.name %></td>
                                    <td><%= link_to "編集する", edit_post_path(post.id) %></td>
                                        <td><%= link_to "削除する", post_path(post.id), method: :delete, "data-confirm" => "本当に削除しますか？"  %></td>
                                   </tr>
                            </table>
                        <% end %>
                    </div>
                    <div>
                        <% @posts.each do |post| %>
                                    <table>
                                          <tr>
                                              <td><%= post.customer.image %></td>
                                                  <td><span><%= post.customer.name %></span></td>
                                                        <td><% if current_customer.following?(post.customer) %></td>
                                                        <td><%= post.customer.explanation %></td>
                                                        <td><%= "id: #{post.customer.id} explanation: #{post.customer.explanation}" %></td>
                                                  </tr>
                                            </table>
                                         <% end %>
                                    <% end %>
                          <%= paginate @posts %>
                      </div>