          <% if customer_signed_in? %>
            <h1>コメント一覧</h1>
                  <div class="jscroll">
                  <% @posts.each do |post| %>
                        <table>
                              <tr>
                                    <td><%= attachment_image_tag post, :image, :fill, 200, 100, format: 'jpg' %></td>

                                    <td><span><%= post.town_name %></span></td>

                                    <td><span><%= post.comment %></td>

                                    <td><%= post.customer.name %></td>
                              </tr>
                        </table>
                        <% end %>
                              <div>
                                    <% @posts.each do |post| %>
                                          <% post.contributor.each do |contributor| %>
                                                <table>
                                                      <tr>
                                                            <td><%= contributor.name %></td>

                                                            <td><%= contributor.explanation %></td>
                                                            <%= "id: #{contributor.id} explanation: #{contributor.explanation}" %>
                                                            <% if current_user.following?(customer) %>
                                                                        <%= link_to 'フォロー外す', unfollow_path(contributor.id), method: :POST %>
                                                                        <% else %>
                                                                        <%= link_to 'フォローする', follow_path(contributor.id), method: :POST %>
                                                             <% end %>
                                                            <td><%= contributor.image %></td>
                                                      </tr>
                                                </table>
                                          <% end %>
                              <% end %>
                        <% end %>
                  <%= paginate @posts %>
            </div>
