					<h1>口コミ投稿</h1>

					<%= form_for(@post) do |f| %>

					<p>場所</p>
					<%= f.text_field :town_name %>

					<p>コメント</p>
					<%= f.text_area :comment %>

					<h4>画像</h4>
					<%= f.attachment_field :image %>

					<%= f.submit '投稿する' %>

					<% end %>